<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="common.Listners"/>
</listeners>
 <!-- <parameter name="browserName" value="firefox"/>  -->
 <parameter name="browserName" value="firefox"/>
  <test thread-count="5" name="Test" parallel = "methods">
 	<classes>
      <class name="testcases.TC3"/>
       <class name="testcases.TC4"/>
      
    </classes>
  </test> <!-- Test parallel = "methods" -->
</suite> <!-- Suite -->
